@import "bootstrap-sprockets";
@import "bootstrap";
@import "protospace";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.material-icons{
  font-size:8px;
}
.red{
  color:red;
}
.gray{
  color:gray;
}
.icon{
  height:64px;
  width:64px;
}
.comment_list{
  width:350px;
}
