@import "bootstrap-sprockets";
@import "bootstrap";
@import "protospace";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.material-icons{
  font-size:8px;
}
.red{
  color:red;
}
.gray{
  color:gray;
}

.comment_lists{
  width:400px;
  .comment_list{
    width:350px;
    height:180px;
    position:relative;
    .comment_user_name{
      padding:10px 0 0 90px;
    }
    .comment_text{
      padding:0 0 0 90px;
      width:130px;
    }
    .icon{
      height:64px;
      width:64px;
      position:absolute;
      top:10px;
      left:10px;
    }
    .comment_list--buttons{
      margin-top:30px;
      float:left;
    }
  }
}
