@import "bootstrap-sprockets";
@import "bootstrap";
@import "protospace";
<<<<<<< HEAD
@import "https://fonts.googleapis.com/icon?family=Material+Icons"
=======
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
.material-icons{
  font-size:8px;
}
.red{
  color:red;
}
.gray{
  color:gray;
}
